---
import { ArrowRight } from "@lucide/astro";

interface Props {
  text: string;
  link: string;
  class?: string;
  textClass: string;
  iconSizeClass: string;
  iconStrokeClass: string;
}

const {
  text,
  link,
  class: extraClass,
  textClass,
  iconSizeClass,
  iconStrokeClass,
} = Astro.props as Props;
---

<a href={link} class={`wrapper group ${extraClass}`}>
  <span class={`${textClass}`}>{text}</span>
  <ArrowRight class={`arrowAnimation ${iconSizeClass} ${iconStrokeClass}`} />
</a>

<style>
  @reference "../styles/global.css";
  .wrapper {
    @apply flex gap-2 items-center text-white hover:text-offwhite active:text-white-blue whitespace-nowrap;
  }
  .arrowAnimation {
    @apply transition-transform duration-300 group-hover:translate-x-1;
  }
</style>
