---
import HowIWorkCard from "./HowIWorkCard.astro";

const { t } = Astro.props;

const cards: {
  step: string;
  desc: string;
  items: string[];
  color: string;
  border?: string;
}[] = Astro.props.cards;
---

<div class="w-full light-bg bg-white">
  <div class="section-wrapper relative isolate overflow-hidden text-black">
    <section
      class="flex flex-col w-full items-center border-x border-black-line"
    >
      <header
        id="HowIWork"
        class="section-header section-margin-top border-y border-black-line scroll-mt-16"
      >
        <h2
          class="intersect-once motion-delay-500 intersect:motion-preset-slide-up-lg motion-duration-[2s] mx-auto font-bold text-3xl lg:text-5xl xl:text-6xl leading-tight text-center text-shadow-header-black"
        >
          {t.title}
        </h2>
      </header>

      <div
        class="section-margin-bottom grid grid-cols-1 md:grid-cols-2 w-full border-b border-black-line"
      >
        {
          cards.map((c) => (
            <HowIWorkCard
              title={c.step}
              desc={c.desc}
              items={c.items}
              color={c.color}
              border={c.border}
            />
          ))
        }
      </div>
    </section>
  </div>
</div>
