---
interface Props {
  border?: string;
  color: string;
  title: string;
  desc: string;
  items: string[];
}
const { border, color, title, desc, items } = Astro.props as Props;
---

<article
  class={`flex flex-col gap-2 lg:gap-3 py-4 px-5 md:py-5 md:px-6 lg:py-6 lg:px-8 ${border}`}
>
  <header class={"flex flex-col gap-2 lg:gap-3"}>
    <h3 class={`font-bold text-2xl lg:text-3xl ${color}`}>
      {title}
    </h3>
    <p class={`italic text-lg xl:text-xl ${color}`}>{desc}</p>
  </header>
  <ul class={`list-disc pl-6 pt-2 leading-[150%] xl:text-lg ${color}`}>
    {items.map((item) => <li>{item}</li>)}
  </ul>
</article>
