---
interface Props {
  t: any;
  classNav?: string;
  classList?: string;
  classItem?: string;
}
const { t, classNav, classList, classItem } = Astro.props;
---
<nav class={`${classNav}`}>
  <ul
    class={`flex flex-col lg:flex-row list-none w-full justify-center gap-4 xl:gap-6 ${classList}`}
  >
    {
      t && Array.isArray(t) ? (
        t.map(
          (c: { href: string | URL | null | undefined; name: unknown }) => (
            <li>
              <a href={c.href} class={`${classItem}`}>{c.name}</a>
            </li>
          )
        )
      ) : null
    }
  </ul>
</nav>
