---
import TestimoniesCard from "./TestimoniesCard.astro";

const { t } = Astro.props;
---

<div class="section-wrapper dark-bg">
  <section
    class="dark-bg flex flex-col w-full items-center border-x border-white-line"
  >
    <header
      id="Testimonies"
      class="section-header section-margin-top border-y border-white-line scroll-mt-16"
    >
      <h2
        class="intersect-once motion-delay-500 intersect:motion-preset-slide-left-sm motion-duration-[2s] font-bold text-3xl lg:text-5xl xl:text-6xl leading-tight text-left text-shadow-header-black intersect:motion-opacity-in intersect-delay-300"
      >
        {t.title}
      </h2>
    </header>
    <div class="section-margin-bottom grid grid-cols-1 md:grid-cols-2">
      <TestimoniesCard
        quote={t.testimonies[0].quote}
        author={t.testimonies[0].author}
        link={t.testimonies[0].link}
        cta={t.cta}
      />
      <TestimoniesCard
        quote={t.testimonies[1].quote}
        author={t.testimonies[1].author}
        link={t.testimonies[1].link}
        borderClass="md:border-l"
        cta={t.cta}
      />
    </div>
  </section>
</div>
