---
import CTA from "./CTA.astro";
import GlassCard from "./GlassCard.astro";

const { t } = Astro.props;

const cards: { 
  id: string; 
  title: string; 
  desc: string; 
  colorBack: string; 
  colorMiddle: string; 
  gradientFront: string; 
}[] = Astro.props.cards
---

<div class="section-wrapper dark-bg w-full">
  <section
    id="WhatIDo"
    class="flex flex-col w-full items-end border-x border-t border-white-line scroll-mt-16"
  >
    <header
      class="flex flex-col w-full md:max-w-2xl lg:max-w-4xl xl:max-w-5xl py-12 px-8 md:py-16 md:px-12 lg:py-24 lg:px-16 xl:py-32 xl:px-24 gap-3 md:gap-4 lg:gap-6 xl:gap-8 justify-center items-start md:items-end text-start md:text-end"
    >
      <h2
        class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl md:leading-tight text-shadow-violet"
      >
        {t.header.title}
      </h2>
      <h3
        class="hidden md:block md:text-lg lg:text-xl xl:text-2xl text-shadow-violet"
      >
        {t.header.subtitle}
      </h3>
    </header>
    <div
      class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 lg:[&>*:first-child]:col-start-2 py-4 md:py-0 border-y border-white-line"
    >
      {
        cards.map((c) => (
          <GlassCard
            id={c.id}
            title={c.title}
            desc={c.desc}
            colorBack={c.colorBack}
            colorMiddle={c.colorMiddle}
            gradientFront={c.gradientFront}
          />
        ))
      }
    </div>
    <div
      class="section-margin-bottom flex flex-col w-full py-12 px-6 md:py-16 md:px-12 lg:py-24 lg:px-16 xl:py-32 xl:px-24 items-start border-b border-white-line"
    >
      <div class="flex flex-col gap-10 md:gap-12 lg:gap-14 xl:gap-20">
        <div
          class="flex flex-col md:max-w-3xl lg:max-w-4xl gap-4 md:gap-5 lg:gap-6 xl:gap-7"
        >
          <h2
            class="font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-shadow-golden"
          >
            {t.section.title}
          </h2>
          <p class="lg:text-lg xl:text-xl text-shadow-golden leading-[1.7]">
            {t.section.text}
          </p>
        </div>
        <div
          class="intersect-once motion-delay-500 motion-duration-[2s] intersect:motion-preset-slide-right-sm flex md:justify-end"
        >
          <CTA
            text={t.section.CTA}
            link="#Services"
            class="gap-1 lg:gap-2 hover:text-shadow-CTA-2 hover:drop-shadow-CTA-2"
            textClass="font-bold text-2xl lg:text-3xl text-left md:text-right"
            iconSizeClass="h-6 w-6 lg:h-9 lg:w-9"
            iconStrokeClass="stroke-[2.5] xl:stroke-[3]"
          />
        </div>
      </div>
    </div>
  </section>
</div>
